@import "src/App.scss";

@include media-breakpoint-down(lg) {
  .navbar-collapse {
    background: white;
  }
}

.header {
  height: 120px;

  .header-container {
    padding: 15px;

    .nav-item {
      &:hover {
        a {
          color: $primary;
        }
      }

      & .active {
        color: $primary;
        font-weight: bold;
      }
    }
  }

  img {
    height: 80px;
    width: 80px;
  }

  @media (max-width: 991px) {
    .nav-item {
      border-bottom: 1px solid var(--bs-light-border-subtle);

      &:last-child {
        border: none;
      }
    }
  }
}
