@import "src/theme/custom-theme";

.header {

  .header-container {
    padding: 15px;

    .nav-item {
      &:hover {
        a {
          color: $primary;
        }
      }

      & .active {
        color: $primary;
        font-weight: bold;
      }
    }
  }

  img {
    height: 80px;
    width: 80px;
  }

  @media (max-width: 991px) {
    .nav-item {
      border-bottom: 1px solid #dee2e6;

      &:last-child {
        border: none;
      }
    }
  }
}
