@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans:wght@400;600&display=swap');

// custom overrides
@import "theme/custom-theme";

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";


.section-height {
  padding: 100px 0;
}

.section-padding {
  padding: 125px 0;
}

.section-heading {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 1.6em;
    height: 0.25rem;
    width: 5rem;
    background: $secondary;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
  }
}

.section-subheading {
  line-height: 1.6;
  font-size: 1.75rem;
  margin-bottom: 9rem;
}

.section-subheading-1 {
  line-height: 1.6;
  font-size: 1.75rem;
  font-weight: bold;
}

@media (max-width: 991px) {
  .section-subheading {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 9rem;
  }
}

/* Keyframes Spin */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Spinner */

.spinner-container {
  display: flex !important;
  justify-content: center;
  align-items: center;

  .spinner {
    --spinner-color: #0059df;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 48px;
    border: 2px solid var(--spinner-color);
    border-top-color: transparent;
    animation-duration: 1s;


    &.small {
      border-top-width: 3px;
      width: 24px;
    }

    &.white {
      --spinner-color: #fff;
      border-top-color: transparent;
    }
  }
}

@include media-breakpoint-up(xs) {
  .project {
    .project-img-container {
      text-align: center;
    }

    .project-description {
      text-align: center;
    }
  }
}

@include media-breakpoint-up(md) {
  .project {
    .project-img-container {
      text-align: center;
    }

    .project-description {

    }
  }
}

